<template>
  <div>
    <v-card-title>
      {{ titre }}
      <v-spacer></v-spacer>
    </v-card-title>
    <FormCreateQRCode :item="item" />
  </div>
</template>
<script>
import FormCreateQRCode from "@/components/FormCreateQRCode.vue";
export default {
  name: "home",
  props: {
    item: null
  },
  data() {
    return {
      titre: this.item
        ? "Modifier une réduction"
        : "Ajouter une nouvelle réduction"
    };
  },
  components: {
    FormCreateQRCode
  }
};
</script>
