<template>
    <div id="app">
        <v-app id="inspire">
            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-12">
                                <v-toolbar color="primary" dark flat>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-title>Connexion</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                </v-toolbar>
                                <v-card-text>
                                    <v-form>
                                        <v-text-field
                                                label="Login"
                                                name="login"
                                                prepend-icon="pi pi-user"
                                                type="text"
                                                v-model="input.login"
                                        ></v-text-field>

                                        <v-text-field
                                                id="password"
                                                label="Password"
                                                name="password"
                                                prepend-icon="pi pi-lock"
                                                type="password"
                                                v-model="input.password"
                                        ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" v-on:click="login()">Login</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
    export default {
        name: "Connexion",
        data() {
            return {
                input: {
                    login: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.login !== "" && this.input.password !== "") {
                    if(this.input.login === this.$parent.mockAccount.login && this.input.password === this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ path: "/" });
                    } else {
                        //eslint-disable-next-line
                        alert("Le login / password est incorrect");
                    }
                } else {
                    //eslint-disable-next-line
                    alert("Un utilisateur est déjà connecté");
                }
            }
        }
    }
</script>

<style scoped>

</style>
