<template>
  <div id="app">
    <v-app>
      <v-card>
        <v-card-title>
          Promotions à venir
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="pi pi-search"
            label="Recherche"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="listPromo" :search="search">
          <template slot="items" slot-scope="props">
            <tr>
              <td>{{ props.item.name }}</td>
              <td class="text-xs-right">{{ props.item.description }}</td>
              <td class="text-xs-right">{{ props.item.dateEnd }}</td>
              <td class="text-xs-right">{{ props.item.remise }}</td>
            </tr>
          </template>
          <template v-slot:item.remise="{ item }">
            <span v-if="item.promo_pourcentage">{{ item.promo_pourcentage }}%</span>
            <span v-if="item.promo_remise">{{ item.promo_remise }}€</span>
            <span v-if="item.promo_a_partir_de">A partir de {{ item.promo_a_partir_de }}</span>
          </template>
          <template v-slot:item.date_end="{ item }">{{ item.date_end | formatDate }}</template>
          <template v-slot:item.date_start="{ item }">{{ item.date_start | formatDate }}</template>
          <template v-slot:item.action="{ item }">
            <v-btn text icon @click="updateItem(item)">
              <font-awesome-icon :icon="['fas', 'edit']" />
            </v-btn>
            <v-btn text icon v-on:click="archiveItem(item)">
              <font-awesome-icon :icon="['fas', 'archive']" />
            </v-btn>
            <v-btn text icon v-on:click="deleteItem(item)">
              <font-awesome-icon :icon="['fas', 'trash']" />
            </v-btn>
          </template>
          <v-alert
            slot="no-results"
            :value="true"
            color="error"
            icon="warning"
          >La promotion "{{ search }}" impossible à trouver.</v-alert>
        </v-data-table>
      </v-card>
    </v-app>
  </div>
</template>

<script>
import Axios from "axios";
import header from "../const.js";
export default {
  name: "Home",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Name",
          align: "left",
          value: "name"
        },
        {
          text: "Description",
          value: "description"
        },
        {
          text: "Date de début",
          value: "date_start"
        },
        {
          text: "Date de fin",
          value: "date_end"
        },
        {
          text: "Remise",
          value: "remise"
        },
        {
          text: "Actions",
          value: "action",
          sortable: false,
          width: "15%"
        }
      ],
      listPromo: []
    };
  },
  methods: {
    updateItem(item) {
      this.$router.push({ name: "AddQrCode", params: { item: item } });
    },
    deleteItem(item) {
      const index = this.listPromo.indexOf(item);
      if (confirm("Vous voulez vraiment supprimer ?")) {
        this.listPromo.splice(index, 1);
        Axios.delete(this.$api, {
          data: {
            id: item.id
          },
          headers: header
        });
      }
    },
    archiveItem(item) {
      const index = this.listPromo.indexOf(item);
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0");
      var yyyy = today.getFullYear();
      var dateToday = dd + "-" + mm + "-" + yyyy;
      if (confirm("Vous voulez vraiment archiver ?")) {
        this.listPromo.splice(index, 1);
        Axios.put(
          this.$api,
          {
            id: item.id,
            name: item.name,
            description: item.description,
            date_start: item.date_start,
            date_end: item.date_end,
            archived: true,
            date_archived: dateToday,
            user_id: item.user_id,
            qrcode: item.qrcode,
            promo_pourcentage: item.promo_pourcentage,
            promo_remise: item.promo_remise,
            promo_a_partir_de: item.promo_a_partir_de
          },
          {
            headers: header
          }
        );
      }
    }
  },
  created() {
    Axios.get(this.$api, {
      headers: header
    }).then(response => {
      this.listPromo = response.data.filter(
        item => new Date(item.date_start).getTime() > new Date().getTime()
      );
    });
  }
};
</script>

<style scoped>
.mobile {
  color: #333;
}

@media screen and (max-width: 768px) {
  .mobile table.v-table tr {
    max-width: 100%;
    position: relative;
    display: block;
  }

  .mobile table.v-table tr:nth-child(odd) {
    border-left: 6px solid deeppink;
  }

  .mobile table.v-table tr:nth-child(even) {
    border-left: 6px solid cyan;
  }

  .mobile table.v-table tr td {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    height: auto;
    padding: 10px;
  }

  .mobile table.v-table tr td ul li:before {
    content: attr(data-label);
    padding-right: 0.5em;
    text-align: left;
    display: block;
    color: #999;
  }
  .v-datatable__actions__select {
    width: 50%;
    margin: 0px;
    justify-content: flex-start;
  }
  .mobile .theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
    background: transparent;
  }
}
.flex-content {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  padding: 5px;
  width: 50%;
  height: 40px;
  font-weight: bold;
}
</style>
