/* eslint-disable no-console */
<template>
  <v-container data-app>
    <div class="p-grid p-fluid">
      <v-row>
        <v-text-field v-model="configPromotion.name" required>
          <template v-slot:label>
            <span>
              <i class="pi pi-user"></i>
              Titre
            </span>
          </template>
        </v-text-field>
      </v-row>

      <v-row>
        <v-text-field v-model="configPromotion.description" required>
          <template v-slot:label>
            <span>
              <i class="pi pi-info"></i>
              Description
            </span>
          </template>
        </v-text-field>
      </v-row>

      <v-row>
        <v-select
          :items="options"
          label="Type"
          v-model="type"
          autocomplete
          required
          item-text="text"
          item-value="value"
        ></v-select>
      </v-row>

      <v-row v-if="type === 1">
        <v-text-field v-model="number" type="number" req>
          <template v-slot:label>
            <span>% Réduction</span>
          </template>
        </v-text-field>
      </v-row>

      <v-row v-if="type === 2">
        <v-text-field v-model="number" type="number" req>
          <template v-slot:label>
            <span>€ Réduction</span>
          </template>
        </v-text-field>
      </v-row>

      <v-row v-if="type === 3">
        <v-text-field v-model="number" type="number" req>
          <template v-slot:label>
            <span>Réduction à partir de </span>
          </template>
        </v-text-field>
      </v-row>

      <v-row>
        <v-col>
          <v-date-picker
            v-model="configPromotion.date_start"
            required
            header-color="#0066ff"
            color="#0066ff"
          ></v-date-picker>
        </v-col>
        <v-col>
          <v-date-picker
            v-model="configPromotion.date_end"
            required
            header-color="#0066ff"
            color="#0066ff"
          ></v-date-picker>
        </v-col>
      </v-row>

      <div>
        <Button
          label="Valider et afficher le Qr Code de cette promotion"
          icon="pi pi-external-link"
          @click="open"
        />
      </div>
    </div>
    <div>
      <Dialog
        :style="{width: '50%', height: '50%'}"
        header="Votre QR Code"
        :visible.sync="display"
        :modal="true"
        v-if="configPromotion.name != null"
      >
        <template #footer>
          <div>
            <QrCodeGenerator :id="idPromo"></QrCodeGenerator>
          </div>
          <Button label="Close" icon="pi pi-times" @click="close" class="p-button-secondary" />
        </template>
      </Dialog>
    </div>
  </v-container>
</template>
<script>
import QrCodeGenerator from "@/components/QrCodeGenerator.vue";
import Axios from "axios";
import moment from "moment";
import header from "../const.js";

export default {
  name: "VueQart",
  props: {
    item: null
  },
  components: {
    QrCodeGenerator
  },
  data() {
    return {
      configPromotion: {
        name: null,
        description: null,
        date_start: null,
        date_end: null,
        archived: null,
        date_archived: null,
        user_id: null,
        promo_pourcentage: null,
        promo_remise: null,
        promo_a_partir_de: null
      },
      options: [
        { text: "%", value: 1 },
        { text: "€", value: 2 },
        { text: "A partir de ...", value: 3 }
      ],
      type: '',
      number: null,
      idPromo: null,
      display: false,
      messages: [],
      reussite: 0
    };
  },
  mounted() {
    if (this.item) {
      this.configPromotion = {
        name: this.item.name,
        description: this.item.description,
        date_start: moment(String(this.item.date_start)).format("YYYY-MM-DD"),
        date_end: moment(String(this.item.date_end)).format("YYYY-MM-DD"),
        archived: this.item.archived,
        date_archived: this.item.date_archived,
        user_id: this.item.user_id,
        promo_pourcentage: this.item.promo_pourcentage,
        promo_remise: this.item.promo_remise,
        promo_a_partir_de: this.item.promo_a_partir_de
      };
      if (this.configPromotion.promo_pourcentage) {
        this.number = this.configPromotion.promo_pourcentage;
        this.type = this.options[0].value;
      } else if (this.configPromotion.promo_remise) {
        this.number = this.configPromotion.promo_remise;
        this.type = this.options[1].value;
      } else if (this.configPromotion.promo_a_partir_de) {
        this.number = this.configPromotion.promo_a_partir_de;
        this.type = this.options[2].value;
      }
    }
  },
  methods: {
    open() {
      if (this.type === this.options[0].value) {
        this.configPromotion.promo_pourcentage = this.number;
        this.configPromotion.promo_remise = null;
        this.configPromotion.promo_a_partir_de = null;
      }
      if (this.type === this.options[1].value) {
        this.configPromotion.promo_pourcentage = null;
        this.configPromotion.promo_remise = this.number;
        this.configPromotion.promo_a_partir_de = null;
      }
      if (this.type === this.options[2].value) {
        this.configPromotion.promo_pourcentage = null;
        this.configPromotion.promo_remise = null;
        this.configPromotion.promo_a_partir_de = this.number;
      }

      if (
        this.configPromotion.name &&
        this.configPromotion.date_start &&
        this.configPromotion.date_end &&
        this.configPromotion.description &&
        this.number
      ) {
        if (!this.item) {
          Axios.post(
            this.$api,
            {
              name: this.configPromotion.name,
              description: this.configPromotion.description,
              date_start: moment(
                String(this.configPromotion.date_start)
              ).format("DD-MM-YYYY"),
              date_end: moment(String(this.configPromotion.date_end)).format(
                "DD-MM-YYYY"
              ),
              promo_pourcentage: this.configPromotion.promo_pourcentage,
              promo_remise: this.configPromotion.promo_remise,
              promo_a_partir_de: this.configPromotion.promo_a_partir_de,
              archived: false
            },
            {
              headers: header
            }
          ).then(
            response => {
              this.reussite = 2;
              this.idPromo = response.data[0].id;
              this.display = true;
            },
            error => {
              // eslint-disable-next-line no-console
              console.log(error);
            }
          );
        } else {
          Axios.put(
            this.$api,
            {
              id: this.item.id,
              name: this.configPromotion.name,
              description: this.configPromotion.description,
              date_start: moment(
                String(this.configPromotion.date_start)
              ).format("DD-MM-YYYY"),
              date_end: moment(String(this.configPromotion.date_end)).format(
                "DD-MM-YYYY"
              ),
              promo_pourcentage: this.configPromotion.promo_pourcentage,
              promo_remise: this.configPromotion.promo_remise,
              promo_a_partir_de: this.configPromotion.promo_a_partir_de,
              archived: false
            },
            {
              headers: header
            }
          ).then(
            response => {
              this.reussite = 2;
              this.idPromo = response.data[0].id;
              this.display = true;
            },
            error => {
              // eslint-disable-next-line no-console
              console.log(error);
            }
          );
        }
      } else {
        alert("Les champs sont obligatoires");
      }
    },
    close() {
      this.display = false;
      this.$router.push("/nextPromo");
    }
  }
};
</script>
