<template>
  <div class="align-center">
    <div ref="qart"></div>
    <a @click="convertToImage" v-if="download.visible">Télécharger votre QRCode en png</a>
  </div>
</template>

<script type="application/ecmascript">
import QArt from "qartjs";
export default {
  props: {
    id: String,
    download: {
      type: Object,
      default: function() {
        return {
          visible: true
        };
      }
    }
  },
  name: "VueQart",
  data() {
    return {
      config: {
        value: "https://www.so-style.fr/",
        imagePath: "../assets/icon-textile-bagagerie.png",
        filter: "color"
      }
    };
  },
  created: function() {
    this.config.value = this.id;
  },
  watch: {
    "config.value": function(val) {
      this.config.value = val;
      this.renderQrcode(this.config);
    }
  },
  mounted() {
    this.renderQrcode(this.config);
  },
  methods: {
    onConfigPromo: function(configPromo) {
      this.config.value = configPromo.name;
    },
    renderQrcode(config) {
      this.qart = new QArt(config);
      this.qart.make(this.$refs.qart);
      // this.$refs.qart.appendChild(this.qart.make())
    },
    convertToImage(e) {
      const { type = "image/png", filename = "download.png" } = this.download;
      const myCanvas = this.$refs.qart.children[0];
      e.target.href = myCanvas.toDataURL(type);
      e.target.download = filename;
    }
  }
};
</script>

<style scoped>
.align-center {
  text-align: center;
  text-indent: center;
  float: center;
  align-items: center;
}
</style>