<template>
  <div id="app">
    <v-bottom-navigation :value="activeBtn" grow color="teal" v-if="authenticated">
      <v-btn to="/" height="56px">
        <span>Accueil</span>
        <v-icon>pi pi-dollar</v-icon>
      </v-btn>

      <v-btn to="/archive" height="56px">
        <span>Archive</span>
        <v-icon>pi pi-calendar-times</v-icon>
      </v-btn>

      <v-btn to="/nextPromo" height="56px">
        <span>Prochaine promotion</span>
        <v-icon>pi pi-calendar-plus</v-icon>
      </v-btn>

      <v-btn to="/addQrCode" height="56px">
        <span>Ajout promotion</span>
        <v-icon>pi pi-fw pi-plus</v-icon>
      </v-btn>

      <v-btn to="/connexion" v-on:click.native="logout()" height="56px">
        <span>Déconnexion</span>
        <v-icon>pi pi-sign-out</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <router-view @authenticated="setAuthenticated" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeBtn: 1,
      authenticated: false,
      mockAccount: {
        login: "admin",
        password: "admin"
      }
    };
  },
  mounted() {
    if (localStorage.getItem("user")) {
      this.authenticated = localStorage.getItem("user");
    }
  },
  methods: {
    setAuthenticated(status) {
      localStorage.user = JSON.stringify(this.mockAccount.login);
      this.authenticated = status;
    },
    logout() {
      localStorage.removeItem("user");
      this.authenticated = false;
    }
  }
};
</script>
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
